@import url(https://fonts.googleapis.com/css?family=BenchNine:400,700);

body{
  background: #00FFFF;
}
h1{ color:rgb(255,255,0);
  text-align: center;
}
#slogan{ font-style: italic;



}


p{ font-size: 20px
  font-family: 'BenchNine', sans-serif;
}
